[submodule "Microservices_Configuration"]
	path = Microservices_Configuration
	url = https://github.com/Facebouffe/Microservices_Configuration.git
	branch = main
[submodule "eureka-server-configurator"]
	path = eureka-server-configurator
	url = https://github.com/Facebouffe/eureka-server-configurator.git
	branch = main
[submodule "Microservice-order"]
	path = Microservice-order
	url = https://github.com/Facebouffe/Microservice-order.git
	branch = main
[submodule "eureka-service-discovery"]
	path = eureka-service-discovery
	url = https://github.com/Facebouffe/eureka-service-discovery.git
	branch = main
[submodule "zipkin-server"]
	path = zipkin-server
	url = https://github.com/Facebouffe/zipkin-server.git
	branch = main
[submodule "microservice-user"]
	path = microservice-user
	url = https://github.com/Facebouffe/microservice-user.git
[submodule "microservice-restaurant"]
	path = microservice-restaurant
	url = https://github.com/Facebouffe/microservice-restaurant.git
[submodule "Gateway"]
	path = Gateway
	url = https://github.com/Facebouffe/Gateway.git
[submodule "microservice-article"]
	path = microservice-article
	url = https://github.com/Facebouffe/microservice-article.git
[submodule "microservice-comment"]
	path = microservice-comment
	url = https://github.com/Facebouffe/microservice-comment.git
[submodule "microservice-payment"]
	path = microservice-payment
	url = https://github.com/Facebouffe/microservice-payment.git
[submodule "microservice-delivery"]
	path = microservice-delivery
	url = https://github.com/Facebouffe/microservice-delivery.git
[submodule "microservice-notification"]
	path = microservice-notification
	url = https://github.com/Facebouffe/microservice-notification.git
